# .idea files
.idea/
views/.idea/

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~
.vs/

# npm
node_modules
package-lock.json
*.log
*.gz

# Put ! before to not ignore file/folder