mixin navbar
  nav.navbar.navbar-expand-xl.navbar-light.position-absolute.bg-transparent#navbar
    a.navbar-brand(href='/home') 
      img.d-inline-block.align-right(src='/images/logo.png' width='60' height='40')
    //Ketchup & Chillᴉ
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon

    .collapse.navbar-collapse(id='navbarSupportedContent')
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='../restaurants') All restaurants
        li.nav-item
          a.nav-link(href='../diners/incentives') Incentives
      ul.navbar-nav.float-right
        if !user
          li.nav-item
            a.nav-link(href='/login') Login
        else
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Account
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='/profile') Profile
              a.dropdown-item(href='/logout') Logout