mixin restaurant-card(rname, rating, cuisine)
  div.card(style='width: 18rem; display: table-cell;')
    img.card-img-top(src='images/restaurant1.jpeg')
    div.card-body
      - rname = rname || 'No restaurant to display at the moment'
      h5.card-title #{rname}
      h7.information 
        |Rating: #{rating + '/5'|| 'NIL'}
        br
        |Cuisine: #{cuisine || 'NIL'}
        