extends layout

block content
  h1= diner.username
  p name: #{diner.name}
  p points: #{diner.points}
  br
  if user.username === diner.name
    a.btn.btn-primary(href='/diners/logout') logout
    a.btn.btn-danger.delete-diner(href="#" usr=diner.username) delete