extends layout

block style
  style(type="text/css").
        nameplate {
           float: left;
           width: 35%;
           height: 500px;
           text-align: center;
           border-style: solid;
           border-width: 0.05px;
           border-color: #FECA1D;
           padding: 20px;
        }
        information {
           float: right;
           padding: 20px;
           width: 60%;
           height: 500px;
        }

block content
  <section>
        <nameplate>
            h4 Profile
        </nameplate>
        <information>
            h2 Hello, #{diner.uname}!
            br
            hr
            img(src='../images/points_icon.png' style='width:25px; height:25px; float:left; margin-right: 10px;')
            p <b>Total Points </b> #{points.count}
            img(src='../images/restaurant_icon.png' style='width:25px; height:25px; float:left; margin-right: 10px;')
            p <b>Most Visited Restaurants</b>
            br
            hr
            img(src='../images/review_icon.png' style='width:25px; height:25px; float:left; margin-right: 10px;')
            p <b>Past Reviews</b>
            if reviews.length == 0
                p No reviews yet!
            else
                each review in reviews
                    if review.rating == null
                        p No rating for this experience.
                    else
                        - for (var i = 0; i < review.rating; ++i) {
                            img(src='../images/star_icon.png' style='width:10px; height:10px; float:left;')
                        - }
                        - for (var i = 0; i < 5-review.rating; ++i) {
                            img(src='../images/emptystar_icon.png' style='width:10px; height:10px; float:left;')
                        - }
                    br
                    if review.review == null
                        p No review for this experience.
                    else
                        p #{review.review}
            br
            hr
            img(src='../images/history_icon.png' style='width:25px; height:25px; float:left; margin-right: 10px;')
            p <b>Booking History</b>

        </information>
        br
        if user.uname === diner.uname
            a.btn.btn-primary(href='/diners/logout') logout
            a.btn.btn-danger.delete-diner(href="#" usr=diner.uname) delete
        br
  </section>
