extends layout

block content
  h1 Login
  form(method='POST' action='/diners/login')
    #form-group
      label uname:
      input.form-control(name='uname' type='text')
    #form-group
      label pass:
      input.form-control(name='pass' type='pass')
    br
    input(type='submit' value='Submit')