extends layout

block content
  .container(style='padding-top:10%;')
    h1 Login
    form(method='POST' action='/login')
      #form-group
        label Username:
        input.form-control(name='uname' type='text')
      #form-group
        label Password:
        input.form-control(name='pass' type='password')
      br
      input(type='submit' value='Submit')