extends layout

block content
  h1 Login
  form(method='POST' action='/diners/login')
    #form-group
      label uname:
      input.form-control(name='uname' type='text')
    #form-group
      label Password:
      input.form-control(name='password' type='password')
    br
    input(type='submit' value='Submit')