extends layout

block append content
  .container
    h1 #{menu.title}
    each item in items
      div
        p #{item.fname}, $#{item.price}
    br
    a.btn.btn-warning(href='/menus/' + menu.rname + '/' + encodeURIComponent(menu.raddress) + '/' + menu.title + '/edit') Edit menu