extends layout

block append content
  .container
    h1(style='text-align:center;') #{menu.title}
    div(style='margin: 0 20%;')
      each item in items
        div(style='padding:20px;text-align:center;')
          div(style='display:inline-block;')
            span(style='font-size:25px;font-weight:bold;') #{item.fname}
            span , 
            span(style='color:orange;') $#{item.price}
    br
