extends layout

block content
  h1 Register
  form(method='POST' action='/diners/register')
    #form-group
      label Name:
      input.form-control(name='name' type='text')
    #form-group
      label Username:
      input.form-control(name='uname' type='text')
    #form-group
      label Password:
      input.form-control(name='pass' type='password')
    #form-group
      label Confirm password:
      input.form-control(name='pass2' type='password')
    br
    input(type='submit' value='Submit')