extends layout

block content
  .container(style='padding-top:10%;')
    h1 Register as Diner
    form(method='POST' action='/diners/register')
      #form-group
        label Name:
        input.form-control(name='name' type='text', value=prevName)
      #form-group
        label Username:
        input.form-control(name='uname' type='text', value=prevUname)
      #form-group
        label Password:
        input.form-control(name='pass' type='password')
      #form-group
        label Confirm password:
        input.form-control(name='pass2' type='password')
      br
      input(type='submit' value='Submit')