extends layout

block style
  style(type="text/css").
    #reservations {
      display: inline-table;
      width: 100%;
      table-layout: auto;
      border-spacing: 10px;
    }
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .modal-body {
      padding: 16px;
    }

    .modal-footer {
      padding: 2px 16px;
      background-color: #FECA1D;
      color: white;
      float: left;
    }
    form {
      background-color: whitesmoke;
      width: 80%;
      margin:20px auto;

      padding: 20px 20px;
      -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }
    form .form-group {
      position: relative;
      margin-bottom: 30px;
    }
    form .form-control {
      background-color: #ebecee;
      border-radius: 4px;
      border: none;
      height: 40px;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #3e485c;
      font-size: 14px;
    }
    form .form-control::-webkit-input-placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form .form-control:-ms-input-placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form .form-control::placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form input[type="date"].form-control:invalid {
      color: rgba(62, 72, 92, 0.3);
    }
    form select.form-control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    form select.form-control + .select-arrow {
      position: absolute;
      right: 0px;
      bottom: 4px;
      width: 32px;
      line-height: 32px;
      height: 32px;
      text-align: center;
      pointer-events: none;
      color: rgba(62, 72, 92, 0.3);
      font-size: 14px;
    }
    form select.form-control + .select-arrow:after {
      content: '\279C';
      display: block;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    form .form-label {
      display: inline-block;
      color: #3e485c;
      font-weight: 700;
      margin-bottom: 6px;
      margin-left: 7px;
    }
    form .submit-btn {
      display: inline-block;
      color: #fff;
      background-color: #ff5a5f;
      font-weight: 700;
      padding: 14px 30px;
      border-radius: 4px;
      border: none;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    form .submit-btn:hover,
    form .submit-btn:focus {
      opacity: 0.7;
    }

block append content
  .container
    h1 #{duname}'s Reservations
    br
    h4(style='margin-left: 25px;') Upcoming Reservations
    div#reservations
      include ./components/upcoming-reservation-card.pug
      - var index = 0
      each reservation in upcoming
        +upcoming-reservation-card(duname, reservation.date, reservation.time, reservation.rname, reservation.raddress, reservation.review, reservation.rating, reservation.num_diners, 'reservation-' + index++)
      else 
        p You have no upcoming reservations. Start exploring restaurants for your next meal!
        a.btn.btn-primary(href='/', style='border-color: #FECA1D; background-color: #FECA1D; margin-left: 20px;') Explore Now
    br
    br
    h4(style='margin-left: 25px;') Past Reservations
    div#reservations
      include ./components/past-reservation-card.pug
      - var index = 0
      each reservation in reservations
        +past-reservation-card(duname, reservation.date, reservation.time, reservation.rname, reservation.raddress, reservation.review, reservation.rating, reservation.num_diners, reservation.is_complete, 'review-' + index++)
      else 
        p You have not made any reservations.
    img(src='../../images/ketchupandchilli_header.png' style='width:97%; margin-left: 10px; margin-right: 10px;')