extends layout

block content
  include ./components/navbar.pug
  + navbar
  .container-fluid
    div(style='display:block;')#wrapper
      div#title
        h1(style='color:white') My Top Restaurants
      div.display-box
        include ./components/restaurant-card.pug
        each rest in topRestaurants
          +restaurant-card(rest.rname, rest.avg, rest.cuisine, rest.raddress)
        else 
          p(style="color:white;padding:20%;" align="center") Currently, there are no restaurants under you! Scroll down to create your own restaurant! 
    div#rest
      h1 #[strong All My Restaurants]
      br
      table(id="restaurants" align="center" width="100%")
        tbody
          -var i = 1;
          each rest, i in allRestaurants 
            tr 
              td= i+1 + '.'
              td #{rest.rname}
              td
                a(href='/restaurants/' +  rest.rname +'/' + encodeURIComponent(rest.raddress)) View listing
              td
                a(href='/restaurants/' + rest.rname + '/' + encodeURIComponent(rest.raddress) + '/menus') View menus
              td
                a(href='/restaurantowners/' +  rest.rname +'/' + encodeURIComponent(rest.raddress) + '/edit') edit

block style
  link(rel='stylesheet' href='/stylesheets/home.css')
  link(rel='stylesheet' href='/stylesheets/restaurantowners.css')
