extends layout

block append content
  .container
    h1 Menus
    ul
      if menus.length !== 0
        each menu in menus
          li
            a(href='#') #{menu}
      else
        p No menus to display for now... Check back again in a few days!