extends layout

block content
  include ./components/navbar.pug
  + navbar
  .container-fluid
    div(style='display:block;')#wrapper
      div#title
        h1(style='color:white') My Top Restaurants
      div.display-box
        include ./components/restaurant-card.pug
        each rest in topRestaurants
          +restaurant-card(rest.rname, rest.avg, rest.cuisine, rest.raddress)
        else 
          p(style="color:white;padding:20%;" align="center") Currently, there are no restaurants under you! Scroll down to create your own restaurant! 
    div#rest
      h1 #[strong All My Restaurants]
      div.row
        each restaurant in allRestaurants
          div.col-sm-3
            .card(style='width:18rem;height:25rem;')
              img.card-img-top(src='/images/restaurant-icon.png')
              .card-body(style='padding:0;')
                h5.card-title(style='text-align:center;') #{restaurant.rname}
                p.card-text(style='padding:0px;color:green;height:40px;overflow:auto;') #{restaurant.raddress}
              .card-body(style='padding:0;text-align:center;')
                div
                  a.card-link(href='/restaurantowners/' +  restaurant.rname +'/' + encodeURIComponent(restaurant.raddress)) Edit
                  a.card-link(href='/menus/' + restaurant.rname + '/' + encodeURIComponent(restaurant.raddress) + '/add') Add Menu
                a.card-link(href='/restaurants/' + restaurant.rname + '/' + encodeURIComponent(restaurant.raddress) style='padding:5px;') View Listing

block style
  link(rel='stylesheet' href='/stylesheets/home.css')
  link(rel='stylesheet' href='/stylesheets/restaurantowners.css')
