extends layout

block style
    style(type="text/css").
        table {
            margin: auto;
            width: 100%;
        }
        table thead {
            background-color: #e22512;
            color: #ffffff;
            text-align: center;
            font-weight: bold;
        }
        table td {
            padding: 12px 15px;
        }
        table th {
            padding: 12px 15px;
            font-size: 20px;
        }
        table tbody tr {
            border-bottom: 1px solid #dddddd;
        }
        table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
        table tbody tr:last-of-type {
            border-bottom: 2px solid #980403;
        }
        table td {
            text-align:center;

        }
        clearfix:after {
            content: "";
            clear: both;
            display: table;
        }

        a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }

        a:visited {
            color: grey;
            background-color: transparent;
            text-decoration: none;
        }

        a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }

        a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }
        p {
            text-size:px;
        }


block append content
    .container
        h1(style='text-align:center; padding-top:20px') #{restName}
        div(style='display:flex;justify-content:center;')
            if timeslotDict.length != 0
                table
                    thead
                        tr
                            th Date
                            th(colspan="30") Time

                    tbody
                        each nextDate in timeslotDates
                            - var dateNow = moment(Date.now()).format('DD MMMM YYYY')
                            - var dateVar = moment(nextDate.date).format('DD MMMM YYYY')
                                if dateVar >= dateNow
                                    tr
                                        td= dateVar
                                        each timeslot in timeslotDict
                                            - var timeslotDate = moment(timeslot.date).format('DD MMMM YYYY')
                                                if timeslotDate == dateVar
                                                    td=moment(timeslot.time, 'HH:mm:ss').format('HH:mm')
                                        

            else
                p(style='text-align:center') No timeslots for #{restName} yet, please check back again.
                br
                a(href="/restaurants/" + restName + '/' + encodeURIComponent(restAddress))="Click here to go back to Restaurant Profile"

