.search-box {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  width: 30%;
  min-width: 400px;
  float: right;
}

.btn {
  float: right;
}

#top-restaurants {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
  min-height: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/bg.jpg);

}

#rest {
  padding: 20px 100px 20px 100px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.nav-item:hover {
  border-bottom-style: solid;
  border-color: white;
}

.date-input {
  position: relative;
  color: white;
}

.date-input:before {
  position: absolute;
  top: 7px; left: 10px;
  content: attr(data-date);
  display: inline-block;
  color: black;
}

.date-input::-webkit-datetime-edit, .date-input::-webkit-inner-spin-button, .date-input::-webkit-clear-button {
  display: none;
}

.time-input::-webkit-inner-spin-button {
  display: none;
}

.date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 10px;
  right: 5px;
  color: black;
  opacity: 1;
}

#navbar {
  position: absolute;
}

body .navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  font-weight: bold;
}