#title{
    width: 100%;
    align-items: center;
}

/*.display-box {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
    width: 30%;
    min-width: 200px;
    display:flex;
    justify-content:space-between;
}*/

.display-box {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

tr, td {
  text-align: center;
  width: 500px;
}
