body {
  padding-top: 55px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

p, div, h1 {
  padding: 0px 20px 0px 20px;
}

a {
  color: #00B7FF;
}