
html,
body {
  width: 100%;
  height: 100%;
}

p, div, h1 {
  padding: 0px 20px 0px 20px;
}

a {
  color: #00B7FF;
}

body .navbar-light .navbar-nav .nav-link {
  color: black;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

.nav-item:hover {
  border-bottom-style: solid;
  border-color: black;
}

#alert {
  position: absolute;
  bottom: 0;
}

#navbar {
  width: 100%;
}

.container {
  min-height: 80%;
}